body {
  margin: 0;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f5;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  font-size: 10px;
}
.todoApp {
  text-align: center;
  font-size: 100px;
  font-weight: 100;
  width: 500px;
  margin: 30px auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  text-rendering: optimizeLegibility;
  color: rgba(175, 47, 47, 0.15);
}
.input:placeholder-shown {
  font-style: italic;
  opacity: 0.3;
  border: none;
}
.input {
  font-size: 24px;
  border: none;
  width: 100%;
  height: 52px;
}
.editTodo {
  font-size: 24px;
  border: none;
  width: 485px;
  height: 52px;
  border: solid black;
  border-width: thin;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  min-height: 58px;
  width: 551px;
  background: white;
  border: #ededed;
  border-width: thin;
  border-style: solid;
  margin: auto;
  position: relative;
  font-size: 24px;
  border-left: none;
  border-bottom: none;
}

.shadow {
  margin: auto;
  width: 550px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.noShadow {
  overflow: hidden;
}
.countTodo {
  width: 160px;
  margin-left: 12px;
}
.filter {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: auto;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.filterTag {
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  padding: 0;
  border: none;
  background: white;
}
.filterTagAfter {
  border-color: rgba(175, 47, 47, 0.2);
  background: white;
}
.clear {
  cursor: pointer;
  padding: 3px 15px;
  text-decoration: none;
  border: none;
  background: none;
  float: right;
  margin-left: 10px;
  width: 200px;
}
.clearHide {
  display: none;
  width: auto;
}

.tag {
  border-bottom: none;
  background: white;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  width: 550px;
  border: #ededed;
  border-width: thin;
  border-style: solid;
  margin: auto;
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  color: #777;
  font-size: 14px;
}
.filterContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 200px;
  background: white;
  border: none;
  margin: auto;
  position: relative;
  font-size: 24px;
  border-left: none;
  border-bottom: none;
  align-content: center;
}

.chooseAll {
  cursor: pointer;
  position: relative;
  top: 6px;
  left: 0px;
  transform: rotate(90deg);
  font-size: 22px;
  color: #e6e6e6;
  width: 22px;
  padding: 10px 10px 10px 10px;
  opacity: 0.7;
}
.chooseAllHide {
  cursor: pointer;
  position: relative;
  top: 6px;
  left: 0px;
  transform: rotate(90deg);
  font-size: 22px;
  color: #e6e6e6;
  width: 22px;
  padding: 10px 10px 10px 10px;
  opacity: 0.7;
  visibility: hidden;
}
.chooseAllTask {
  cursor: pointer;
  position: relative;
  top: 6px;
  left: 0px;
  transform: rotate(90deg);
  font-size: 22px;
  color: black;
  width: 22px;
  padding: 10px 10px 10px 10px;
  opacity: 2;
}

.inputbox {
  width: 90%;
  /* padding: 16px 16px 16px 10px; */
  padding-left: 10px;
  border: none;
}
.border {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.form {
  justify-content: center;
  align-items: center;
}

.info {
  margin: 65px auto 0;
  font-size: 10px;
  text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
  text-align: center;
}

.button {
  vertical-align: middle;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.button {
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}

.todo-item {
  margin-top: auto;
  font-size: 24px;
  word-break: break-all;
  display: block;
  width: 450px;
  height: auto;
  min-height: 42px;
  border: blue;
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
  margin-top: auto;
  font-size: 24px;
  word-break: break-all;
  display: block;
  width: 450px;
  height: auto;
  min-height: 42px;
  list-style-type: none;
}
.hide {
  display: none;
}
.round {
  margin: 16px 15px 3px 5px;
  position: relative;
  top: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
}

.roundHidden {
  visibility: hidden;
  margin: 16px 15px 3px 5px;
  position: relative;
  top: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}

.round label:after {
  border: 2px solid #66bb6a;
  border-top: none;
  border-right: none;
  content: "";
  height: 3.5px;
  left: 9px;
  opacity: 0;
  position: absolute;
  top: 12px;
  transform: rotate(-45deg);
  width: 14px;
}

.round input[type="checkbox"] {
  visibility: hidden;
  cursor: pointer;
}

.round input[type="checkbox"]:checked + label {
  background-color: internal-light-dark(black, white);
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.list-todo {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px;
  padding-inline-start: 0px;
}
.deletePointer {
  height: 50px;
  cursor: pointer;
}
.deleteTodo {
  display: none;
  float: right;
}
.flex-container:hover .deleteTodo {
  display: block;
  border: none;
  right: 10px;
  background: white;
  font-size: 22px;
  color: #cc9a9a;
  margin: auto 0px;
  margin-left: auto;
  height: 30px;
  width: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
